---
layout: archive
title: '<i class="fas fa-mobile-alt fa-sm"></i>    Mateusz Koślacz Homepage'
author_profile: true
feature_row:
  - image_path: /assets/images/blog.jpg
    alt: "Blog"
    title: "Blog"
    excerpt: "See archive of my blog posts."
    url: "/blog"
    btn_label: "Read"
    btn_class: "btn--primary white"
  - image_path: /assets/images/contact2.jpg
    alt: "Contact"
    title: "Contact"
    excerpt: "Contact me if you want."
    url: "/about#contact"
    btn_label: "Details"
    btn_class: "btn--primary white"
  - image_path: /assets/images/hire_me.jpeg
    alt: "Hire me!"
    title: "Hire me!"
    excerpt: "See my offer."
    url:  /hire-me
    btn_label: "More"
    btn_class: "btn--primary white"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/as.png
  overlay_filter: 0.7
  caption:
excerpt: 'My experiences with mobile development.'
---
<!-- see static home pages -->

{% include feature_row %}

{% include paginated_posts.html %}
